button {
    font-Size: 16px;
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
}

.counterButton {
    background-color: #155d5f;
}

.resetButton {
    background-color: #753881;
}


.count {
    font-size: 50px;
    padding: 20px;
}

.totalCount {
    font-size: 150px;
    color:white;
}